.title {
  font-family: 'Rubik Glitch', 'cursive';
  font-size: 48px;
  color: #2a3c2a;
}

body {
  margin: Opx;
  padding: Opx;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: #2a3c2a 20px 10px 50px;
  border-radius: 2px;
}

.arrowKeys {
  top: 43%;
  position: absolute;
  left: 45%;
  font-family: arial;
  color: #2a3c2a;
}

span {
  outline: #cccccc;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 3px;
  width: 48px;
  height: 45px;
  border-radius: 5px;
  background-color: rgb(204, 200, 200);
  color: #2a3c2a;
  border-top: 1px solid outline;
  box-shadow: 0px 3px 0px 2px outline;
  cursor: pointer;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  grid-gap: 1px;
  margin-top: 280px;
  margin-right: 10px;
  z-index: 1;
}

section > span:nth-child(1) {
  grid-column: 2;
  grid-row: 1;
}

section > span:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}

section > span:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
}

section > span:nth-child(4) {
  grid-column: 3;
  grid-row: 2;
}

.provide-name {
  color: #2a3c2a;
}

.arrowKeys h2 {
  font-size: 15px;
}

@media screen and (max-width: 480px) {
  .arrowKeys {
    display: none;
  }
}
